---
import { DELIVERY_ADDRESSES } from '@/pages/cart/cart.config'
import { Icon } from 'astro-icon/components'
import Card from '../ui/Card.astro'
import AddressOption from '../ui/AddressOption.astro'
---

<Card x-show="step === 1" class="bg-card" x-cloak>
  <div class="flex flex-col space-y-1.5 pb-4">
    <h3
      class="flex items-center gap-2 text-xl leading-none font-semibold tracking-tight sm:text-2xl"
    >
      <Icon name="lucide:map-pin" size={20} class="h-5 w-5 text-primary" />
      ¿Dónde lo entregamos?
    </h3>
  </div>

  <div class="p-6 pt-0 space-y-6" x-data="{ selectedAddress: 'addr-1' }">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {
        DELIVERY_ADDRESSES.map((addr) => (
          <AddressOption
            id={addr.id}
            value={addr.id}
            name="addressId"
            label={addr.label}
            description={addr.full}
            model="selectedAddress"
          />
        ))
      }
    </div>
  </div>
</Card>
