{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "printWidth": 100,
        "maxLen": 100,
        "bracketSpacing": true,
        "bracketSameLine": false
      }
    }
  ]
}
