---
import InputNumber from '@/components/ui/InputNumber.astro'

interface Props {
  slot: 'vertical' | 'horizontal'
}
const { slot } = Astro.props
---

<div x-data>
  <ul
    class:list={[
      'flex flex-col gap-4 w-full items-center p-4',
      '[&>li]:p-2 [&>li]:border [&>li]:rounded-md [&>li]:w-28 [&>li]:aspect-3/4 [&>li]:flex [&>li]:flex-col',
    ]}
  >
    <template
      x-for="[id, product] in Object.entries($store.cartStore?.data?.items ?? {})"
      :key="id"
    >
      <li>
        <div class="flex-1">
          <img
            x-bind:src="product.imgUrl"
            x-bind:alt="product.title"
            class="object-contain object-top h-20 w-full scale-125"
          />
        </div>
        <div class="text-foreground text-sm font-semibold text-center w-full">
          <label>$</label>
          <label x-text="product.price"></label>
          <label>.00</label>
        </div>
        <div class="h-4/12 bg-red-800/5">
          <InputNumber x-text="product.quantity" :id="id" />
        </div>
      </li>
    </template>
  </ul>
</div>
