---
import { Icon } from 'astro-icon/components'
import { Product } from '../products.model'
interface Props {
  product: Product
}
const { product } = Astro.props
const { title, benefits, description } = product
---

<div id="accordion-card" data-accordion="collapse" x-data="{ active: 1 }">
  <h2 class="mt-4">
    <button
      type="button"
      @click="active = (active === 1 ? null : 1)"
      class:list={[
        'text-foreground rounded-base border-border/25 hover:text-accent-foreground flex w-full items-center justify-between gap-3 border p-4 py-4 text-sm text-nowrap shadow-xs transition-colors duration-300 md:text-base rtl:text-right',
        "aria-[expanded=false]:bg-secondary/25 aria-[expanded=false]:hover:text-foreground aria-[expanded=false]:hover:bg-secondary/70 [&[aria-expanded='false']_svg]:rotate-0",
        'aria-expanded:bg-muted-foreground/95 aria-expanded:text-background aria-expanded:rounded-b-none aria-expanded:font-semibold aria-expanded:shadow-none aria-expanded:[&_svg]:rotate-180',
      ]}
      :aria-expanded="active === 1"
    >
      <span>Acerca de este artículo</span>
      <Icon name="lucide:chevron-down" size={20} class="transition-[rotate] duration-300" />
    </button>
  </h2>
  <div
    x-show="active === 1"
    x-collapse.duration.250ms
    class="border-border/25 rounded-b-base shadow-honey-dark/5 border border-t-0 shadow-md"
    aria-labelledby="accordion-card-heading-1"
  >
    <div class="text-muted-foreground p-4 text-sm md:p-5" set:html={description.html} />
  </div>
  <h2 class="mt-4">
    <button
      type="button"
      @click="active = (active === 2 ? null : 2)"
      class:list={[
        'text-foreground rounded-base border-border/25 hover:text-accent-foreground flex w-full items-center justify-between gap-3 border p-4 py-4 text-sm text-nowrap shadow-xs transition-colors duration-300 md:text-base rtl:text-right',
        "aria-[expanded=false]:bg-secondary/25 aria-[expanded=false]:hover:text-foreground aria-[expanded=false]:hover:bg-secondary/70 [&[aria-expanded='false']_svg]:rotate-0",
        'aria-expanded:bg-muted-foreground/95 aria-expanded:text-background aria-expanded:rounded-b-none aria-expanded:font-semibold aria-expanded:shadow-none aria-expanded:[&_svg]:rotate-180',
      ]}
      :aria-expanded="active === 2"
    >
      <span>Beneficios</span>
      <Icon name="lucide:chevron-down" size={20} class="transition-[rotate] duration-300" />
    </button>
  </h2>
  <div
    x-show="active === 2"
    x-collapse.duration.250ms
    class="border-border/25 rounded-b-base shadow-honey-dark/5 border border-t-0 shadow-md"
    aria-labelledby="accordion-card-heading-2"
  >
    <div class="p-4 md:p-5">
      <ul>
        {
          benefits.map((benefit) => (
            <li class="mb-2 flex flex-nowrap items-center gap-2">
              <span class="bg-honey-dark/70 text-honey-light rounded-full p-1">
                <Icon
                  name="lucide:check"
                  size={13}
                  class="transition-[scale] duration-300 group-hover:scale-110"
                />
              </span>
              <p class="text-muted-foreground text-sm">{benefit}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <h2 class="mt-4">
    <button
      type="button"
      @click="active = (active === 3 ? null : 3)"
      class:list={[
        'text-foreground rounded-base border-border/25 hover:text-accent-foreground flex w-full items-center justify-between gap-3 border p-4 py-4 text-sm text-nowrap shadow-xs transition-colors duration-300 md:text-base rtl:text-right',
        "aria-[expanded=false]:bg-secondary/25 aria-[expanded=false]:hover:text-foreground aria-[expanded=false]:hover:bg-secondary/70 [&[aria-expanded='false']_svg]:rotate-0",
        'aria-expanded:bg-muted-foreground/95 aria-expanded:text-background aria-expanded:rounded-b-none aria-expanded:font-semibold aria-expanded:shadow-none aria-expanded:[&_svg]:rotate-180',
      ]}
      :aria-expanded="active === 3 "
    >
      <span>¿Cómo comprar? Es fácil</span>
      <Icon name="lucide:chevron-down" size={20} class="transition-[rotate] duration-300" />
    </button>
  </h2>
  <div
    id="accordion-card-body-3"
    x-show="active === 3"
    x-collapse.duration.250ms
    class="border-border/25 rounded-b-base shadow-honey-dark/5 border border-t-0 shadow-md"
    aria-labelledby="accordion-card-heading-3"
  >
    <div class="p-4 md:p-5">
      <p class="text-muted-foreground mb-3 block text-sm">
        Venta directa por WhatsApp con entrega en puntos establecidos.
      </p>
    </div>
  </div>
</div>
<script>
  import Alpine from 'alpinejs'
  import collapse from '@alpinejs/collapse'

  if (!window.AlpineInstanceRegistered) {
    Alpine.plugin(collapse)
    window.AlpineInstanceRegistered = true
  }
</script>
