---
import EmptyCart from '@/components/cart/EmptyCart.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import Button from '@/components/ui/Button.astro'
import { prevStep } from '@/lib/utils/cart.order'
import Stepper from '@/components/cart/Stepper.astro'
import OrderSummary from '@/components/cart/OrderSummary.astro'
import Step1 from '@/components/cart/Step1.astro'
import Step2 from '@/components/cart/Step2.astro'
import Step3 from '@/components/cart/Step3.astro'
import Step4 from '@/components/cart/Step4.astro'
---

<Layout title="Mi carrito">
  <div x-data="cartHandler">
    <EmptyCart x-show="itemCount === 0 && step === 1" x-cloak />
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <!-- STEPPER -->
      <span x-text="step"></span>
      <Stepper />
      {/* Main content */}
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="lg:col-span-2 space-y-6">
          {/* Cart review */}
          <Step1 />
          {/* Customer info */}
          <Step2 />
          {/* Step 3: Delivery address */}
          <Step3 />
          {/* Step 4: Confirmation */}
          <Step4 />
          {/* Navigation buttons */}
          <div class="flex justify-between">
            <Button x-show="step > 1" variant="ghost" onClick={prevStep}>
              <Icon name="lucide:arrow-left" size={20} />
              Anterior
            </Button>
            <Button href="/catalogo" x-show="step === 1" variant="secondary">
              <Icon name="lucide:arrow-left" size={20} />
              Seguir comprando
            </Button>
            <Button x-show="step < 4" x-on:click="nextStep" x-bind:disabled="!canProceedFromStep">
              Siguiente
              <Icon name="lucide:arrow-right" size={20} />
            </Button>

            <!-- onClick={handleFinalize} -->
            <Button
              x-show="step === 5"
              class="bg-[hsl(142,70%,40%)] hover:bg-[hsl(142,70%,35%)] text-white gap-2"
              size="lg"
            >
              <Icon name="lucide:message-circle" size={20} />
              Finalizar por WhatsApp
            </Button>
          </div>
        </div>
        {/* Sidebar */}
        <OrderSummary />
      </div>
    </div>
  </div>
</Layout>
