---
import ProductCard from '@/features/products/components/ProductCard.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Mi carrito">
  <div>
    <h1>Mi carrito</h1>
  </div>
</Layout>
