---
import { getProducts } from '@/features/products/products.api'
export async function getStaticPaths() {
  const { productos, errorMessage } = await getProducts()
  return productos.map((product) => ({
    params: { id: product.id },
    props: { product },
  }))
}
const { product } = Astro.props
const { id, title } = product
---

<section>
  <h1>Item: {id}</h1>
  <p>Titulo: {title}</p>
</section>
