---
import { getCategories } from '@/features/categories/categories.api'
import Layout from '../layouts/Layout.astro'
import type { Category } from '@/features/categories/categories.api'
const { categories, errorMessage } = (await getCategories()) as {
  categories: Category[]
  errorMessage: string
}
---

<Layout title="La Colmena Market">
  {
    errorMessage ? (
      <section>
        <h1>Error</h1>
        <p>{errorMessage}</p>
      </section>
    ) : (
      <section>
        <h1>landing page</h1>
        {categories.map((category) => (
          <a href={`/product/${category.slug}`}>{category.name}</a>
        ))}
      </section>
    )
  }
</Layout>
