---
import type { Product } from '@/features/products/products.model'
import { Icon } from 'astro-icon/components'

interface Props {
  product: Product
}
const { product } = Astro.props
const { title } = product
---

<div class="mb-6">
  <!-- Dropdown menu -->
</div>
