---
import type { Product } from '@/features/products/products.model'
import { Icon } from 'astro-icon/components'

interface Props {
  product: Product
}
const { product } = Astro.props
const { title } = product
---

<div>
  <h3 class="text-foreground mt-3 mb-1 line-clamp-1 text-lg">¿Cómo comprar? Es fácil</h3>
  <small class="text-muted-foreground mb-3 block">
    Sigue estos 3 pasos sencillos para tener tu {title}
  </small>
  <ul class="text-muted-foreground sá space-y-2 text-sm">
    <li class="flex flex-nowrap items-center-safe gap-2">
      <span class="bg-honey-dark/70 text-honey-light rounded-full p-1">
        <Icon
          name="lucide:location-edit"
          size={13}
          class="transition-[scale] duration-300 group-hover:scale-110"
        />
      </span><p><strong>Elige un punto:</strong> Selecciona abajo dónde nos vemos.</p>
    </li>
    <li class="flex flex-nowrap items-center-safe gap-2">
      <span class="bg-honey-dark/70 text-honey-light rounded-full p-1">
        <Icon
          name="lucide:message-square-more"
          size={13}
          class="transition-[scale] duration-300 group-hover:scale-110"
        />
      </span>
      <p><strong>Manda mensaje:</strong> El botón abrirá tu WhatsApp con el pedido.</p>
    </li>
    <li class="flex flex-nowrap items-center-safe gap-2">
      <span class="bg-honey-dark/70 text-honey-light rounded-full p-1">
        <Icon
          name="lucide:handshake"
          size={13}
          class="transition-[scale] duration-300 group-hover:scale-110"
        />
      </span>
      <p><strong>Paga al recibir:</strong> No necesitas tarjeta, pagas en persona.</p>
    </li>
  </ul>
  <h3 class="text-foreground mt-3 mb-1 line-clamp-1 text-lg">Selecciona tu punto de entrega</h3>

  <ul class="flex w-full flex-col gap-2">
    <li>
      <input
        type="radio"
        id="hosting-small"
        name="hosting"
        value="hosting-small"
        class="peer hidden"
        required
      />
      <label
        for="hosting-small"
        class:list={[
          'text-muted-foreground bg-input/20 border-border rounded-base peer-checked:border-honey-dark',
          'peer-checked:bg-primary peer-checked:text-card group hover:bg-secondary/50 peer-checked:hover:bg-primary/90',
          'inline-flex w-full cursor-pointer items-center justify-between border p-5 transition-colors',
          'peer-checked:[&_svg]:scale-100 peer-checked:[&_svg]:opacity-100',
        ]}
      >
        <div class="block">
          <div class="w-full font-semibold">Birria</div>
          <div class="w-full">Direccion de entrega</div>
        </div>

        <Icon
          name="lucide:check"
          size={20}
          class="scale-90 opacity-0 transition-transform duration-300 group-hover:scale-110 group-hover:opacity-100"
        />
      </label>
    </li>

    <li>
      <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="peer hidden" />
      <label
        for="hosting-big"
        class="text-muted-foreground bg-input/20 border-border rounded-base peer-checked:border-honey-dark peer-checked:bg-primary peer-checked:text-card group hover:bg-secondary/50 peer-checked:hover:bg-primary/90 inline-flex w-full cursor-pointer items-center justify-between border p-5 transition-colors peer-checked:[&_svg]:scale-100 peer-checked:[&_svg]:opacity-100"
      >
        <div class="block">
          <div class="w-full font-semibold">Poniente 6</div>
          <div class="w-full">Direccion de entrega</div>
        </div>

        <Icon
          name="lucide:check"
          size={20}
          class="scale-90 opacity-0 transition-[transform_opacity] duration-500 group-hover:scale-110 group-hover:opacity-100"
        />
      </label>
    </li>
    <li>
      <input
        type="radio"
        id="hosting-otro"
        name="hosting"
        value="hosting-otro"
        class="peer hidden"
      />
      <label
        for="hosting-otro"
        class="text-muted-foreground bg-input/20 border-border rounded-base peer-checked:border-honey-dark peer-checked:bg-primary peer-checked:text-card group hover:bg-secondary/50 peer-checked:hover:bg-primary/90 inline-flex w-full cursor-pointer items-center justify-between border p-5 transition-colors peer-checked:[&_svg]:scale-100 peer-checked:[&_svg]:opacity-100"
      >
        <div class="block">
          <div class="w-full font-semibold">Otro</div>
          <div class="w-full">Direccion de entrega</div>
        </div>

        <Icon
          name="lucide:check"
          size={20}
          class="scale-90 opacity-0 transition-[transform_opacity] duration-500 group-hover:scale-110 group-hover:opacity-100"
        />
      </label>
    </li>
  </ul>
</div>
