---
import Layout from '@/layouts/Layout.astro'
interface Props {
  title: string
  description: { html: string }
}

const { title, description } = Astro.props
---

<Layout {title}>
  <main class="p-2 pt-0 sm:p-8 sm:pt-0">
    <div class="bg-pink-500">
      <h1>{title}</h1>
      <h2>Category Products Introduction with iamge and text</h2>
      <p set:html={description.html} />
    </div>
    <slot />
  </main>
</Layout>
