---
import { getProducts } from './products.api'

const { productos, errorMessage } = await getProducts()
console.log({ productos, errorMessage })
---

{
  errorMessage ? (
    <section>
      <h1>Error</h1>
      <p>{errorMessage}</p>
    </section>
  ) : (
    <section>
      <h1>Productos</h1>
      <ul>
        {productos.map((product) => (
          <li>
            <div>
              <h2>{product.title}</h2>
              <a href="/" />
              {product.id}
            </div>
          </li>
        ))}
      </ul>
    </section>
  )
}
<h4>deberian aparecer los productos aquji</h4>
