---
type ButtonVariant = 'default' | 'secondary' | 'success' | 'danger' | 'warning' | 'dark' | 'ghost'

interface Props {
  variant?: ButtonVariant
  className?: string
}

const { variant = 'default', className = '' } = Astro.props
const buttonClass: Record<ButtonVariant, string> = {
  default:
    'bg-primary hover:bg-primary/90 focus:ring-honey-dark rounded-base border border-transparent px-4 py-2.5 text-sm leading-5 text-secondary hover:shadow-honey-medium/20',
  secondary:
    'text-body bg-transparent border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-neutral-tertiary rounded-base  border px-4 py-2.5 text-sm leading-5 font-semibold   ',
  success:
    'bg-success hover:bg-success-strong focus:ring-success-medium rounded-base border border-transparent px-4 py-2.5 text-sm leading-5 text-white  ',
  danger:
    'bg-danger hover:bg-danger-strong focus:ring-danger-medium rounded-base border border-transparent px-4 py-2.5 text-sm leading-5 text-white  ',
  warning:
    'bg-warning hover:bg-warning-strong focus:ring-warning-medium rounded-base border border-transparent px-4 py-2.5 text-sm leading-5 text-white  ',
  dark: 'bg-dark hover:bg-dark-strong focus:ring-neutral-tertiary rounded-base border border-transparent px-4 py-2.5 text-sm leading-5  text-white ocus:ring-4 ',
  ghost:
    'text-heading hover:bg-transparent focus:ring-neutral-tertiary rounded-base  border border-transparent bg-transparent px-4 py-2.5 text-sm leading-5  ',
}
const variantClass = buttonClass[variant]
---

<button
  type="button"
  class={`${variantClass} transition-all duration-300 gap-2 px-3 py-2 text-sm justify-center font-semibold flex flex-nowrap items-center hover:shadow-lg ${className}`}
>
  <slot />
</button>
