---
import { Icon } from 'astro-icon/components'
import Button from './Button.astro'
---

<div
  x-data="{
    open: false,
    toggle() { this.open = !this.open }
  }"
  @open-cart.window="open = true"
  class="relative"
>
  <div
    id="drawer-swipe-desktop"
    class:list={[
      'border-border bg-card fixed top-0 left-0 z-50 hidden h-screen w-40 -translate-x-full border-r',
      'transition-transform duration-300 md:flex flex-col',
    ]}
    :class="open ? 'translate-x-0' : '-translate-x-full'"
  >
    <!-- drawer header -->
    <div class="p-4 border-border border-b flex flex-col gap-3 items-center">
      <h5
        class:list={[
          'group-hover:text-foreground inline-flex',
          'items-center gap-2 text-sm font-medium transition-colors',
        ]}
      >
        <Icon name="lucide:shopping-cart" size={15} />
        <span
          x-text="'Tu Carrito (' + Object.entries($store.cartStore?.data?.items ?? {}).length+')'"
        ></span>
      </h5>

      <Button
        href="/cart"
        className="w-full rounded-sm py-[0.3rem] px-[0.25rem] text-xs"
        x-show="open"
      >
        <span
          x-text="'Pagar '+'$' + Number($store.cartStore?.data?.total ?? 0).toLocaleString('es-MX', { minimumFractionDigits: 2, maximumFractionDigits: 2 })"
        ></span>
        <Icon name="lucide:arrow-right" size={15} />
      </Button>
    </div>
    <!-- drawer body scrolleable -->
    <div class="flex-1 overflow-y-auto overflow-x-hidden box-border min-h-0 flex justify-center">
      <slot name="vertical" />
    </div>
    <!-- drawer desktop Tab -->
    <div
      @click="toggle()"
      class:list={[
        'group bg-card border-border/80 hover:border-border absolute top-1/2 -right-[60px]',
        'flex h-52 w-[60px] -translate-y-1/2 cursor-pointer items-center justify-center rounded-e-2xl',
        'border border-s-0 transition-colors duration-500',
      ]}
    >
      <span
        class="bg-foreground/50 group-hover:bg-foreground h-12 w-1.5 rounded-full transition-colors"
      ></span>
    </div>
  </div>

  <div
    id="drawer-swipe-mobile"
    class:list={[
      'bg-card border-border rounded-t-base fixed right-0 bottom-0 left-0 z-50 w-full',
      'border-t transition-transform duration-300 md:hidden flex flex-col max-h-dvh',
    ]}
    :style="open ? 'transform: translateY(0)' : 'transform: translateY(calc(100% - 58px))'"
    style="transform: translateY(calc(100% - 58px))"
  >
    <!-- drawer mobile Tab -->
    <div
      class:list={[
        'group bg-card shrink-0 text-xs cursor-pointer border-b mt-2',
        'border-transparent p-4 flex flex-nowrap justify-between text-foreground/80',
      ]}
      :class="open ? 'border-border' : ''"
      x-on:click="toggle()"
    >
      <span
        class:list={[
          'bg-foreground/50 group-hover:bg-foreground absolute top-3 left-1/2 h-1 w-8',
          '-translate-x-1/2 rounded-lg transition-colors',
        ]}></span>
      <h5
        class:list={[
          'group-hover:text-foreground inline-flex',
          'items-center gap-2 text-xs font-medium transition-colors',
        ]}
      >
        <Icon name="lucide:shopping-cart" size={15} />
        <span
          x-text="'Tu Carrito (' + Object.entries($store.cartStore?.data?.items ?? {}).length+')'"
        ></span>
      </h5>
      <span
        x-show="!open"
        x-text="'$' + Number($store.cartStore?.data?.total ?? 0).toLocaleString('es-MX', { minimumFractionDigits: 2, maximumFractionDigits: 2 })"
        class="group-hover:text-foreground"></span>
      <Button href="/cart" className="w-fit rounded-sm py-[0.3rem] text-xs" x-show="open">
        <span
          x-text="'Pagar '+'$' + Number($store.cartStore?.data?.total ?? 0).toLocaleString('es-MX', { minimumFractionDigits: 2, maximumFractionDigits: 2 })"
        ></span>
        <Icon name="lucide:arrow-right" size={15} />
      </Button>
    </div>
    <!-- drawer body scrolleable -->
    <div class="flex-1 overflow-y-auto box-border min-h-0">
      <slot name="horizontal" />
    </div>
  </div>
</div>
