---
import { Icon } from 'astro-icon/components'
---

<div
  x-data="{
    open: open,
    toggle() { this.open = !this.open }
  }"
  @open-cart.window="open = true"
  class="relative"
>
  <div
    id="drawer-swipe-desktop"
    class:list={[
      'border-border bg-card fixed top-0 left-0 z-50 hidden h-screen w-40 -translate-x-full border-r',
      'transition-transform duration-300 md:flex flex-col',
    ]}
    :class="open ? 'translate-x-0' : '-translate-x-full'"
  >
    <!-- drawer header -->
    <div class="p-4 border-border border-b shrink-0">
      <div class="flex items-center">
        <p class="text-heading text-lg font-semibold flex flex-col w-full items-center">
          <span>Subtotal</span>
          <slot name="headerDrawer" />
        </p>
      </div>
    </div>
    <!-- drawer body scrolleable -->
    <div class="flex-1 overflow-y-auto box-border min-h-0">
      <slot name="vertical" />
    </div>
    <!-- drawer desktop Tab -->
    <div
      @click="toggle()"
      class:list={[
        'group bg-card border-border/80 hover:border-border absolute top-1/2 -right-[60px]',
        'flex h-52 w-[60px] -translate-y-1/2 cursor-pointer items-center justify-center rounded-e-2xl',
        'border border-s-0 transition-colors duration-500',
      ]}
    >
      <span
        class="bg-foreground/50 group-hover:bg-foreground h-12 w-1.5 rounded-full transition-colors"
      ></span>
    </div>
  </div>

  <div
    id="drawer-swipe-mobile"
    class:list={[
      'bg-card border-border rounded-t-base fixed right-0 bottom-0 left-0 z-50 w-full',
      'border-t transition-transform duration-300 md:hidden flex flex-col max-h-dvh',
    ]}
    :style="open ? 'transform: translateY(0)' : 'transform: translateY(calc(100% - 60px))'"
    style="transform: translateY(calc(100% - 60px))"
  >
    <!-- drawer mobile Tab -->
    <div
      class="group bg-card shrink-0 cursor-pointer border-b border-transparent p-4"
      :class="open ? 'border-border' : ''"
      @click="toggle()"
    >
      <span
        class:list={[
          'bg-foreground/50 group-hover:bg-foreground absolute top-3 left-1/2 h-1 w-8',
          '-translate-x-1/2 rounded-lg transition-colors',
        ]}></span>
      <h5
        class:list={[
          'text-foreground/50 group-hover:text-foreground inline-flex',
          'items-center gap-2 text-base font-medium transition-colors',
        ]}
      >
        <Icon name="lucide:shopping-cart" size={17} />
        <span>Ver Carrito</span>
        <slot name="headerDrawer" />
      </h5>
    </div>
    <!-- drawer body scrolleable -->
    <div class="flex-1 overflow-y-auto box-border flex gap-3 p-4 min-h-0">
      <slot name="horizontal" />
    </div>
  </div>
</div>
