---
import { Icon } from 'astro-icon/components'
import { randomUUID } from 'node:crypto'
import Tooltip from './Tooltip.astro'

interface Props {
  id?: string
  value?: number
  [key: string]: any
}

const { id, value = 1, ...rest } = Astro.props
//randomUUID()
---

<div
  x-data="{
    get quantityId() { return `quantity-${id}` },
    get decBtnId() { return `dec-${id}` },
    get incBtnId() { return `inc-${id}` },
    state: { show: false },
    anchorRef: null
  }"
  x-init="anchorRef = $refs.container"
  x-ref="container"
  :id="'container-' + id"
  :aria-describedby="'tooltip-content-' + id"
  @mouseenter="state.show = true"
  @mouseleave="state.show = false"
  class:list={[
    'md:h-full md:rounded-t-none md:rounded-b-sm',
    'bg-secondary/30 relative flex w-full items-center shadow-xs  h-16 rounded-sm',
  ]}
>
  <button
    type="button"
    :id="decBtnId"
    x-on:click="product.quantity > 1
      ? $store.cartStore.handleAddToCart({ id: id, quantity: -1 })
      : $store.cartStore.handleRemoveFromCart(id)"
    class:list={[
      'ring-offset-background text-foreground border-border/10 hover:bg-accent/80 h-full w-10 md:w-auto ',
      'flex justify-center items-center hover:text-accent-foreground focus:ring-ring rounded-s-base ',
      'box-border h-10 border px-2 text-sm leading-5 font-medium transition-colors focus:ring-4 focus:outline-none',
      'disabled:pointer-events-none disabled:opacity-50',
    ]}
  >
    <div class="relative flex h-4 w-4 items-center justify-center">
      <div
        x-show="product.quantity === 1"
        x-transition:enter="transition ease-out duration-150 delay-75"
        x-transition:enter-start="opacity-0 scale-y-90"
        x-transition:enter-end="opacity-100 scale-y-100"
        x-transition:leave="transition ease-in duration-75"
        x-transition:leave-start="opacity-100 scale-y-100"
        x-transition:leave-end="opacity-0 scale-y-90"
        class="absolute"
      >
        <Icon name="lucide:trash" size={16} />
      </div>

      <div
        x-show="product.quantity > 1"
        x-transition:enter="transition ease-out duration-150 delay-75"
        x-transition:enter-start="opacity-0 scale-y-90"
        x-transition:enter-end="opacity-100 scale-y-100"
        x-transition:leave="transition ease-in duration-75"
        x-transition:leave-start="opacity-100 scale-y-100"
        x-transition:leave-end="opacity-0 scale-y-90"
        class="absolute"
      >
        <Icon name="lucide:minus" size={16} />
      </div>
    </div>
  </button>
  <span
    :id="quantityId"
    class:list={[
      'placeholder:text-foreground border-border/10 flex-1 flex items-center justify-center',
      'ring-ring h-10 w-full border-x-0 bg-transparent py-2.5 text-center',
    ]}
    x-text="product.quantity">{value}</span
  >
  <button
    type="button"
    :id="incBtnId"
    class:list={[
      'ring-offset-background text-foreground hover:text-accent-foreground border-border/10 h-full w-10 md:w-auto',
      'flex justify-center items-center hover:bg-accent/80 focus:ring-ring rounded-e-base',
      'aria-expanded:text-accent-foreground box-borderh-10 border px-2 text-sm leading-5 ',
      'transition-colors focus:ring-4 focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-expanded:font-semibold',
    ]}
    @click="$store.cartStore.handleAddToCart({ id: id, quantity:  1 })"
  >
    <Icon name="lucide:plus" size={16} />
  </button>
  <Tooltip content="¡Funciona sin saltos!" position="top" />
</div>
